body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: red;
  color:#fff;
  padding: 50px;
  text-align: center;
}

.content{
  background-color: orange;
  color: #fff;
  padding: 150px;
  text-align: center;
  width: 60%;
}

.sidebar{
  background-color: palevioletred;
  color: #fff;
  padding: 150px;
  text-align: center;
  width: 40%;
}

.footer{
  background-color: blue;
  color:#fff;
  padding: 50px;
  text-align: center;
}
